.chat-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.chat-heading {
  margin: 2rem;
  user-select: none;
}

.chat-page-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 42vw;
  gap: 1.5rem;
  position: relative;
}

.chat-main {
  transition: all 0.25s;
}

.chat-main-collapsed {
  margin-left: 150px;
  width: calc(100vw - 150px);
}

@media (max-width: 500px) {
  .chat-page-content {
    width: 70vw;
    font-size: 12px;
    padding-right: 1rem;
  }

  .chat-main-collapsed {
    margin-left: 75px;
    width: calc(100vw - 75px);
  }
}
