.weight-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  top: calc(102px + 2rem);
}

.weight-chart-canvas {
  height: auto !important;
  width: 50% !important;
}

@media (max-width: 500px) {
  .weight-chart-canvas {
    width: 100% !important;
  }
}
