.sleep-logs-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.sleep-logs-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
  margin-top: 50px;
  height: calc(100vh - 50px);
  width: calc(100vw - 100px);
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: #1e1e3f;
}

.sleep-logs-page-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.edit-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 0;
  width: 30rem;
  padding: 0 1rem;
  top: 50px;
  left: 50%;
  gap: 1rem;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: 10px;
  background-color: #2e2e5e;
  pointer-events: none;
  user-select: none;
  transition: height 0.1s,
              padding 0.1s;
}

.edit-menu-open {
  height: fit-content;
  padding: 1rem;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  pointer-events: all;
}
