.sleep-logs-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.sleep-logs-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
  margin-top: 50px;
  height: calc(100vh - 50px);
  width: calc(100vw - 100px);
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: #1e1e3f;
}

.sleep-logs-page-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.sleep-log {
  margin-top: 50px;
}
