.exercise-section {
  height: fit-content;
  margin: 1rem 0 0 0;
  background-color: #0c0c1d;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  text-align: left;
  cursor: pointer;
  transition: all 0.25s;
}

.exercise-section:hover {
  background-color: #2e2e5e;
}
