.about-you-page-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  gap: 1.5rem;
}

.recaptcha-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
