.date-range-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: calc(100vw - 100px);
  position: fixed;
  top: 100px;
  background-color: #0c0c1d;
  border-bottom: 1px solid #2e2e5e;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  user-select: none;
  z-index: 2;
}

.date-range-header-button-container {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.date-range-header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  user-select: none;
  cursor: pointer;
  transition: all 0.25s;
}
.date-range-header-button:hover {
  background-color: #2e2e5e;
}

.date-range-header-button-selected {
  background-color: #2e2e5e;
}

@media (max-width: 500px) {
  .date-range-header {
    width: calc(100vw - 50px - 2rem);
    padding: 1rem;
  }
}
