.select-exercises-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0;
  width: calc(100vw - 100px);
  padding: 0;
  position: fixed;
  top: 101px;
  background-color: #0c0c1d;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  user-select: none;
  overflow-y: hidden;
  z-index: 2;
}

.select-exercises-header-open {
  height: 20px;
  padding: 1rem 0;
  border-bottom: 1px solid #2e2e5e;
}

.select-exercises-header-text {
  margin: 0;
}

.select-exercises-header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  gap: 0.5rem;
}

.select-exercises-header-close-button {
  display: flex;
  height: 2rem;
  width: 2rem;
  right: calc(50px + 0.75rem);
  top: calc(100px + 0.75rem);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0.5rem;
  border: none;
  background: none;
  overflow: hidden;
  user-select: none;
  pointer-events: all;
  cursor: pointer;
  transition: background-color 0.25s,
              transform 0.25s;
}
.select-exercises-header-close-button:hover {
  background-color: #8085a6;
  transform: rotate(90deg);
}

.select-all-check-box {
  cursor: pointer;
}

@media (max-width: 500px) {
  .select-exercises-header {
    width: calc(100vw - 50px);
  }
}
