.weight-entry-options-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 0;
  width: fit-content;
  top: 4.5rem;
  right: calc(25% + 0.5rem);
  padding: 0 0.5rem 0 0.5rem;
  overflow: hidden;
  background-color: #2e2e5e;
  border: none;
  border-radius: 10px;
  cursor: default;
  z-index: 2;
  transition: all 0.1s;
}

.weight-entry-options-menu-open {
  height: fit-content;
  padding: 0.5rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.weight-entry-options-menu-button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  gap: 0.5rem;
  background: none;
  border: none;
  border-radius: 6px;
  font-family: inherit;
  user-select: none;
  cursor: pointer;
  transition: all 0.25s;
}
.weight-entry-options-menu-button:hover {
  background-color: #8085a6;
}

.weight-entry-options-delete-button {
 color: red;
}
.weight-entry-options-delete-button:hover {
  background-color: rgba(255, 0, 0, 0.25);
}

@media (max-width: 500px) {
  .weight-entry-options-menu {
    top: 5rem;
    right: 1rem;
  }
}
