.weight-logs-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.weight-logs-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
  margin-top: 50px;
  height: calc(100vh - 50px);
  width: calc(100vw - 100px);
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: #1e1e3f;
}

.weight-logs-page-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.weight-logs-page-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #2e2e5e;
  padding: 1rem;
}

.weight-logs-page-section-content {
  padding: 0.5rem 1rem;
  width: 50%;
}

.weight-logs-page-text {
  text-align: left;
  margin: 0;
}

.weight-logs-container {
  position: relative;
  top: calc(102px + 6rem);
}

@media (max-width: 500px) {
  .weight-logs-page-main {
    margin-left: 50px;
    width: calc(100vw - 50px);
  }
}
