.exercise-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 1rem;
  border-bottom: 1px solid #2e2e5e;
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

.selectable-exercise-container {
  cursor: pointer;
  transition: all 0.25s;
}
.selectable-exercise-container:hover {
  background-color: #2e2e5e;
}

.exercise-options-button {
  display: flex;
  height: 2rem;
  border-radius: 10px;
  padding: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.25s;
}
.exercise-options-button:hover {
  background-color: #8085a6;
}
