.exercise-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 1rem;
  border-bottom: 1px solid #2e2e5e;
  user-select: none;
}

.selectable-exercise-container {
  cursor: pointer;
  transition: all 0.25s;
}
.selectable-exercise-container:hover {
  background-color: #2e2e5e;
}
