.date-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: calc(100vw - 100px);
  position: fixed;
  top: 50px;
  background-color: #0c0c1d;
  border-bottom: 1px solid #2e2e5e;
  z-index: 3;
}

.date-nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.date-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  user-select: none;
  cursor: pointer;
  transition: all 0.25s;
}
.date-nav-button:hover {
  background-color: #2e2e5e;
}

@media (max-width: 500px) {
  .date-nav {
    width: 100%;
    padding: 0 1rem;
  }
}
