.meal-log-food {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid #2e2e5e;
  user-select: none;
  cursor: pointer;
  transition: all 0.25s;
}
.meal-log-food:hover {
  background-color: #2e2e5e;
}

.meal-log-food-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.meal-log-food-text {
  text-align: left;
  margin: 0;
}

.meal-log-food-serving-text {
  margin: 0;
}

.meal-log-food-options-button {
  display: flex;
  height: 2rem;
  border-radius: 10px;
  padding: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.25s;
}
.meal-log-food-options-button:hover {
  background-color: #8085a6;
}

@media (max-width: 500px) {
  .meal-log-food-text,
  .meal-log-food-serving-text {
    font-size: 14px;
  }
}
