html {
  overflow-x: hidden;
}

:root {
  font-family: Outfit, Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #eceff4;
  background-color: #0c0c1d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  place-items: center;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0c0c1d;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
