.weight-log {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid #2e2e5e;
  user-select: none;
  cursor: pointer;
  transition: all 0.25s;
}
.weight-log:hover {
  background-color: #2e2e5e;
}

.weight-log-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 50%;
}

.weight-log-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.weight-log-text {
  text-align: left;
  margin: 0;
}

.weight-log-weight-text {
  margin: 0;
}

.weight-log-options-button-container {
  display: flex;
  justify-content: end;
  width: 100%;
}

.weight-log-options-button {
  display: flex;
  height: 2rem;
  border-radius: 10px;
  padding: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.25s;
}
.weight-log-options-button:hover {
  background-color: #8085a6;
}

@media (max-width: 500px) {
  .weight-log-content {
    width: 100%;
    padding: 1rem 0;
  }
}
