.exercises-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2e2e5e;
  position: fixed;
  top: 100px;
  left: 150px;
  height: 0;
  width: calc(100vw - 200px);
  border-radius: 20px;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  z-index: 3;
  transition: height 0.1s;
}

.exercises-menu-open {
  height: calc(100vh - 150px);
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  pointer-events: all;
}

.exercises-menu-close-button {
  display: flex;
  height: 0;
  width: 2rem;
  position: fixed;
  right: calc(50px + 0.75rem);
  top: calc(100px + 0.75rem);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0;
  border: none;
  background: none;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  cursor: pointer;
  transition: background-color 0.25s,
              transform 0.25s;
}
.exercises-menu-close-button:hover {
  background-color: #8085a6;
  transform: rotate(90deg);
}

.exercises-menu-open .exercises-menu-close-button {
  height: 2rem;
  padding: 0.5rem;
  pointer-events: all;
}

.exercises-menu-input-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2.3rem;
  user-select: none;
}

.exercises-menu-input-placeholder-container {
  position: relative;
  width: 80%;
}

.exercises-menu-input {
  background-color: #eceff4;
}

.exercises-menu-placeholder {
  background: none;
}

.exercises-menu-placeholder.float {
  color: #eceff4;
  top: -1.75rem;
  left: 1em;
  padding: 0 0.2em;
}

.exercises-menu-placeholder.focus {
  color: #00ffcc;
}

.exercises-menu-results-header {
  width: 80%;
  margin-bottom: 0.25rem;
  text-align: left;
  user-select: none;
}

.exercises-menu-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 80%;
  margin-bottom: 2rem;
  overflow-y: auto;
}

.exercises-menu-results-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
  width: calc(100vw - 200px);
  position: fixed;
  top: 100px;
  left: 150px;
}

.exercises-menu-results-exercise {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2rem);
  padding: 1rem;
  background-color: #0c0c1d;
  border: none;
  border-bottom: 1px solid #2e2e5e;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  user-select: none;
  cursor: pointer;
  transition: all 0.25s;
}
.exercises-menu-results-exercise:hover {
  background-color: #1e1e3f;
}

.exercises-menu-results-exercise-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.exercises-menu-results-exercise-text {
  text-align: left;
  margin: 0;
}

.exercises-menu-results-exercise-label {
  margin: 0;
  color: #8085a6;
  font-size: 12px;
  text-align: center;
  user-select: text;
}

.search-results-page-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #2e2e5e;
}

.search-results-page-nav-text {
  margin: 0 0.25rem;
}

.search-results-page-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem;
  margin: 0 0.25rem;
  background: none;
  border: none;
  border-radius: 5px;
  color: #eceff4;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
}
.search-results-page-nav-button:hover {
  background-color: #8085a6;
}

.search-results-page-nav-button-active {
  background-color: #8085a6;
}

@media (max-width: 500px) {
  .exercises-menu {
    width: calc(100vw - 50px);
    left: 50px;
  }

  .exercises-menu-open {
    height: calc(100vh - 100px);
  }

  .exercises-menu-results {
    width: 95%;
  }

  .exercises-menu-close-button {
    right: 0.5rem;
    top: calc(100px + 0.5rem);
  }

  .exercises-menu-results-loading-container {
    height: calc(100vh - 150px);
    width: calc(100vw - 50px);
    top: 100px;
    left: 50px;
  }
}
