.meal-logs-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.workout-logs-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
  margin-top: 50px;
  height: calc(100vh - 50px);
  width: calc(100vw - 100px);
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: #1e1e3f;
}

.workout-logs-page-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.exercises-container {
  width: calc(100vw - 100px);
  position: relative;
  top: 50px;
  padding-bottom: 50px;
  z-index: 1;
  transition: top 0.1s;
}

.exercises-container-selecting-items {
  top: calc(50px + 20px + 2rem);
}

.exercise-options-button-container {
  display: flex;
  justify-content: end;
  width: 100%;
}

.exercise-options-button {
  display: flex;
  height: 2rem;
  border-radius: 10px;
  padding: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.25s;
}
.exercise-options-button:hover {
  background-color: #8085a6;
}

.exercise-options-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 0;
  width: fit-content;
  top: 3.5rem;
  right: 1rem;
  padding: 0 0.5rem 0 0.5rem;
  overflow: hidden;
  background-color: #2e2e5e;
  border: none;
  border-radius: 10px;
  cursor: default;
  z-index: 2;
  transition: all 0.1s;
}

.exercise-options-menu-open {
  height: fit-content;
  padding: 0.5rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.exercise-options-menu-button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  gap: 0.5rem;
  background: none;
  border: none;
  border-radius: 6px;
  font-family: inherit;
  user-select: none;
  cursor: pointer;
  transition: all 0.25s;
}
.exercise-options-menu-button:hover {
  background-color: #8085a6;
}

.exercise-options-delete-button {
 color: red;
}
.exercise-options-delete-button:hover {
  background-color: rgba(255, 0, 0, 0.25);
}

.check-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
}

@media (max-width: 500px) {
  .meal-logs-page-main {
    margin-left: 50px;
    width: calc(100vw - 50px);
  }

  .meals-container {
    width: calc(100vw - 50px);
  }
}
