.weight-logs-edit-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  max-height: 0;
  width: 30rem;
  padding: 0 1rem;
  top: 152px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: 10px;
  background-color: #2e2e5e;
  pointer-events: none;
  user-select: none;
  transition: max-height 0.1s,
              padding 0.1s;
}

.edit-menu-open {
  max-height: 500px;
  padding: 1rem;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  pointer-events: all;
}

.edit-menu-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: 1px solid #8085a6;
}

.edit-menu-input {
  width: 5rem;
  padding: 0.25rem;
  padding-left: 1rem;
  text-align: center;
}

.edit-menu-confirmation-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0.5rem 0;
}

.edit-menu-text-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem;
  background: none;
  border: none;
  border-radius: 5px;
  color: #eceff4;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
}
.edit-menu-text-button:hover {
  background-color: #8085a6;
}

.edit-menu-text-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 500px) {
  .weight-logs-edit-menu {
    width: 17.5rem;
    padding: 0 0.5;
    left: calc(50% + 25px);
  }
}
