.add-food-button {
  width: 100%;
  text-align: start;
  font-weight: 700;
  color: #00ffcc;
  background-color: #0c0c1d;
  border: none;
  border-bottom: 1px solid #2e2e5e;
  padding: 1rem;
  overflow-y: hidden;
  user-select: none;
  cursor: pointer;
  transition: all 0.25s;
}
.add-food-button:hover {
  background-color: #2e2e5e;
}
